h1{
    font-size: 4rem;
    line-height: 3.5rem;
    text-transform: uppercase;
}
.live-icon{
    
    position: relative;
    margin-top: 2%;
    margin-bottom: 4%;
}
.live-icon .line-left {
    width: 100%;
    position: absolute;
    left: 39%;
    background-color:#2c3e50;
    margin-left: 1rem;
    max-width: 6rem;
    height: 0.25rem;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}
.live-icon .line-right{
    position: absolute;
    width: 100%;
    background-color: #2c3e50;
    margin-right: 1rem;
    max-width: 6rem;
    height: 0.25rem;
    right: 40%;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}
.icon{
    position: absolute;
    right: 49%;
    bottom: -20px;
    font-size: 2rem;
    color: #2c3e50;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
.svg-icon{
    font-size: 4rem;
}
.img-div{
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
    
}
.layer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    color: white;
    background-color: aquamarine;
    transition: all 0.5s;
}
.img-div:hover .layer{
    top: 0%;
}