<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-uppercase mb-4">LOCATION</h3>
                <p class="lead mb-0">2215 John Daniel Drive</p>
                <p class="lead mb-0">Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-uppercase mb-4">AROUND THE WEB</h3>
                <div>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" data-fa-i2svg>
                            <path fill="currentColor"
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                        </svg>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" data-fa-i2svg>
                            <path fill="currentColor"
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                        </svg>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" data-fa-i2svg>
                            <path fill="currentColor"
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                        </svg>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-10 fa-fw" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" data-fa-i2svg>
                            <path fill="currentColor"
                                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-uppercase mb-4">ABOUT FREELANCER</h3>
                <p class="lead mb-0  text-center " style="text-indent: 7rem;"> Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        
        </div>
    </div>
    
</footer>
<div class="text-center text-white py-4 bg-dark">
<p>Copyright © Your Website 2021</p>
</div>