<nav class="navbar bg-dark text-white d-flex justify-content-evenly  position-fixed  w-100 py-3">
  <div class="container-fluid">
    <a class="navbar-brand  me-3" href="#">START ANGULAR </a>
    <div class=" navbar-collapse d-flex align-items-center justify-content-end  me-3" id="navbarSupportedContent">
      <ul class="navbar-nav   mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home" routerLinkActive="text-white active p-2 rounded-2">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/protoflio" routerLinkActive="text-white active p-2 rounded-2">protoflio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/about"  routerLinkActive="text-white active p-2 rounded-2">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact"  routerLinkActive="text-white active p-2 rounded-2">contact</a>
        </li>
      
       
      </ul>
     
    </div>
</div>
</nav>